version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: finance_db
    environment:
      POSTGRES_USER: financeuser
      POSTGRES_PASSWORD: financepass
      POSTGRES_DB: finance_db
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U financeuser -d finance_db"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
